doctype html
html
    head
    body
        div
            | Hello PUG
        div
            block content
        div
            | Best regards
            br
            a(href='https://google.com') Visit our site
        div

